<nav class="navbar"
     [class.scrolled]="isScrolled()">


<div class="container navbar-container">


<!-- Logo -->

<a routerLink="/" 
   class="logo"
   (click)="closeMenu()">

K<span>Dev</span>

</a>



<!-- Menu -->

<ul class="nav-menu"
    [class.open]="isMenuOpen()">



<li>
<a routerLink="/"
routerLinkActive="active"
(click)="closeMenu()">
Home
</a>
</li>


<li>
<a routerLink="/about"
(click)="closeMenu()">
About
</a>
</li>


<li>
<a routerLink="/skills"
(click)="closeMenu()">
Skills
</a>
</li>


<li>
<a routerLink="/experience"
(click)="closeMenu()">
Experience
</a>
</li>


<li>
<a routerLink="/projects"
(click)="closeMenu()">
Projects
</a>
</li>


<li>
<a routerLink="/services"
(click)="closeMenu()">
Services
</a>
</li>


<li>
<a routerLink="/calendar"
(click)="closeMenu()">
Calendar
</a>
</li>


<li>
<a routerLink="/contact"
(click)="closeMenu()">
Contact
</a>
</li>


</ul>



<!-- Actions -->

<div class="nav-actions">


<a href="assets/cv/Rivohasina-Rabearison-CV.pdf"
download
class="btn btn-primary cv-btn">

<i class="bi bi-download"></i>

CV

</a>



<!-- Social desktop -->

<div class="social-links">


<a href="https://github.com"
target="_blank">

<i class="bi bi-github"></i>

</a>


<a href="https://linkedin.com"
target="_blank">

<i class="bi bi-linkedin"></i>

</a>


</div>



</div>




<!-- Hamburger -->


<button class="menu-toggle"
(click)="toggleMenu()">


<i class="bi"
[class.bi-list]="!isMenuOpen()"
[class.bi-x]="isMenuOpen()">

</i>


</button>



</div>

</nav>